@font-face {
	font-family: 'Kelson bold'; 
	src: url("../fonts/Kelson\ Sans\ Bold\ RU.otf"); 
}
@font-face{
    font-family: 'Kelson light';
    src: url("../fonts/Kelson\ Sans\ Light\ RU.otf");
}