@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';


body{
    margin: 0;
    font-family: "Kelson light";
    font-size: 15px;
    line-height: 1.6;
    color: #FFF;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    
}

/* Container */
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

}

.intro--mid--container{
    max-width: 1700px;
}
.header--container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


    /* Header */

    .header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .header__logo{
        position: relative;
        z-index: 3;
    }
    .logo{
        margin-top: 5px ;
        width: 100px;
    }
    .header:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2c3580;
        opacity: 0.99;
        z-index: 2;
    }
    .header__body{
        position: relative;
        
        display: flex;
        height: 60px;
        align-items: center;

    }
    .header__list{
        display: flex;
        position: relative;
        z-index: 2;
        
        
    }
    .header__menu{
        width: auto;
    }
    .header__link{
        color:#fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        position: relative;
        font-weight: 700;

    }
    .header__link:hover{
        color:#FBAD1B;
        transition: .1s linear;
        
    }
    .header__link:after{
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color:#FBAD1B;
        opacity: 0;
        position: absolute;
        top:100%;
        transition: opacity .2s linear;
        left: 0;
        z-index: 2;
    }
    .header__link:hover:after{
        display: block;
        opacity: 1;
        z-index: 2;
    }
    .header__list li{
        list-style: none;
        margin: 0px 0px 0px 20px;
        margin-left: 60px;
    }
    .header__burger{
        display: none;
        position: relative;
        z-index: 3;
    }


    @media(max-width:767px){
        body.lock{
            overflow: hidden;
        }
        .header__body{
            height: 60px ;
            padding: 10px;
            justify-content: space-between;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;

        }
        .header__burger span{
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top:9px;
            border-radius: 1px;
            transition: all 0.2s ease 0s;
        }
        .header__burger--partners span{
            background-color: #333;
        }
        .header__burger:before,
        .header__burger:after{
            content: '';
            background-color: #FFF;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            border-radius: 1px;
            transition: all 0.2s ease 0s;

        }
        .header__burger--partners:before,
        .header__burger--partners:after{
            background-color: #333;
        }
        .header__burger:before{
            top:0;
        }
        .header__burger:after{
            bottom: 0;
        }
        .header__menu{
            overflow: auto;
            position: fixed;
            top:-100%;
            left: 0;
            width: 100%;
            height: 100%;
            
            background-color:#415ebb;
            transition: all 0.2s ease 0s;
            padding: 70px 0px 0px 0px;
            
        }
        .header__menu--partners{
            background-color: rgb(233, 232, 225);
        }
        .header__menu.active{
            top:0;
        }
        .header__list{
            display: block;
            margin-left: -6 0px;
        }
        .header__list li{
            margin-bottom: 30px;
        }
        .header__burger.active:before{
            transform: rotate(45deg);
            top:9px;
            

        }
        .header__burger.active:after{
            transform: rotate(-45deg);
            bottom: 9px;
            
        }
        .header__burger.active span{
            transform: scale(0);
        }
        .header
        .header__link{
            font-size: 20px;
            margin-left: 0px;
            
            
        }
        .header__link--contacts{
            margin-right: 0;
        }
    }



/* Menu */

@media(max-width:400px){
    .intro--index{
        margin-top: 50px;
    }
}
.menu{
    text-transform: uppercase;
    font-size: 18px;
}


.menu__link{
    
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 0 15px;
    margin-bottom: 5px;
    transition: color .2s linear;
    position: relative;        
}


.menu__link--partners{
    color:#e8a545;
}
.menu__link:hover{
    color:#FBAD1B;
    
}

.menu__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color:#FBAD1B;
    opacity: 0;
    position: absolute;
    top:100%;
    transition: opacity .1s linear;
    left: 0;
    z-index: 1;
}
.menu__link:hover::after{
    display: block;
    opacity: 1;
}
@media(max-width:767px){
    .submenu{
        margin-top: 20px;
    }
}
@media(min-width:767px){
    .submenu{

        visibility: hidden;
        position: fixed;
        padding: 0;
        
    }

    li:hover .submenu {
        background-color: #2c3580;
        visibility: visible;
    }
    li:hover .submenu--partners{
        background-color: rgb(233, 232, 225);
    }
    .submenu__link{
        font-size: 15px;
        
    }

    .submenu__item{
        padding: 0;
        margin-left: 0px;
    }
}

    
.submenu li{
    margin-left: 10px; 
 }
.submenu__link--partners{
    color:#333;
}
/* Intro */

.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1250px;
    height: 100vh;
    padding: 0 10px;
}


.header--partners::before{
    color:#333;
    background-color: rgb(233, 232, 225);
}

.intro-index-up{
    background: url("../img/index_up.png") center no-repeat;
    -webkit-background-size: cover;
}
.intro-index-mid{
    background: url("../img/index_mid.png") center no-repeat;
    -webkit-background-size: cover;
    width: 1200px;
    
}
.intro-index-bot{
    background: url("../img/contacts_top.png") center no-repeat;
    -webkit-background-size: cover;
}

.intro--projects{
    background: url("../img/2_mid.png") center no-repeat;
    -webkit-background-size: cover;
    
}
.intro--partners{
    background: url("../img/partners__page1.png") center no-repeat;
    -webkit-background-size: cover;
}
.intro--contacts{
    background: url("../img/index_bot.png") center no-repeat;
    -webkit-background-size: cover;
    justify-content: flex-start;
}

@media(max-width:768px){
    .intro--projects{min-height: 2000px;}
}
.intro__inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;

}
.intro__title{
    margin-top: 8%;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;

}

.intro__text{
    font-size: 30px;
}


/* Page */


.projects--mid{
    background: url("../img/2_mid.png") center no-repeat;
    -webkit-background-size: cover;
}
.projects--bot{
        background: url("../img/2_bot.png") center no-repeat;
        -webkit-background-size: cover;
}
.projects--podcast{
    background-color: #455a9d;

}
@media(min-width:768px){
    .page{
        width:100%;
        display: flex;
        min-height: 1250px;
        height: 100vh;

    padding:0 10px;
    }

    
}
.project__discription{
    font-size: 18px;
}
@media(max-width:768px){
    .page{
        width: 100%;
        display: flex;
        min-height: 1200px;
        padding:0 10px;
    }





}
.page__inner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 5%;

}
.page__title{
    margin-top: 2%;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
}
.page__title-center{
    text-align: center;
    margin-top: 2%;
}
.page__text{
    font-size: 30px;
}
@media(min-width:768px){
    .row{
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-around;
        
    }
    /* Member */
    .member{
        flex-basis: 23%;
        border-radius: 50%;
        min-height: 100px;
        padding:0 10px;
        
        text-align: center;
    }
    .member__image{
        
    }
}
@media(max-width:767px){
    .row{
        margin-top: 5%;
        justify-content: space-around;
        
    }
    /* Member */
    .member{
        width:80%;
        
        min-height: 100px;
        margin: 0 auto;
        margin-top: 8%;
        padding:0 10px;
        border-radius: 5px;
        text-align: center;
    }

    .member__image{
        
    }
   
}

.member__image{
    width: 80%;
    border-radius: 50%;
    
}
.member__image-wrapper{
    
}
.member__text{
    margin-top: 0px;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.member__full-name{
    font-size: 24px;
    line-height: 25px;
}
.page__social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}
.page__social-media__image{
    
}
/* Flip */
.flip-container {
    perspective: 1000px;
  }
  
  .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }
  .flip-container,
  .front,
  .back {
    width: 720px;
    height: 180px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
  }
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .front,
  .back {
      padding: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: #5b8861;
    font-size: 30px;
    align-content: center;
    display: grid;
  }
  .back {
    transform: rotateY(180deg);
    background-color: #f1cf56;
    color:#333;
  }

/* Footer */
.footer{
    margin-top: auto;
    background-color: #2c3580;
    min-height: 80px;
    padding: 10px;
    
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__link{
    
    text-decoration: none;
    color:#FFF;

}
.footer__link:hover{
    transition: color .2s linear;
    color:#FBAD1B;
    
}

.social-media__image{
    opacity: 0.7;
}

/* Gallery */


.picture{
    max-width: 400px;
    max-height: 140px;

}

/* Grid */


@media(min-width:1568px){
    .grid{
        
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        grid-column-gap: 100px;
        justify-items: center; 
    }
}
@media(min-width:768px){
    .grid{
        
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        grid-column-gap: 20px;
        justify-items: center; 
    }
}


@media(max-width:768px){
    .grid{
        justify-items: center; 
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }
    .flip-container{
        margin: 0 auto;
    }
    .intro-index-mid{
        min-height: 2000px;
    }
}
.header__link--partners{
    color:#333;
}
/* partners */

.partners{
    
    margin-top: 40px;
    
    
}
.partners--title{
    color:#333;
}
@media(min-width:768px){
    .partners{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

}
@media(max-width:768px){
    .flip-container,
  .front,
  .back {
    width: 520px;}
    .partners{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 25px ;
    }
    .back{
        font-size: 16px;
    }
    .picture{
        display: block;
        
        margin: 0 auto;
        
    }
    .intro--partners{
        height: 2000px;
    }
}

@media(max-width: 580px){
    .flip-container,
    .front,
    .back {
      width: 420px;}
      .back{
        font-size: 14px;
      }
}
@media(max-width: 450px){
    .flip-container,
    .front,
    .back {
      width: 320px;
    height: 300px;}
    .back{
        font-size: 15px;
    }
}

@media(max-width: 1480px) and (min-width: 1086px){
    .flip-container,
    .front,
    .back {
      width: 520px;
    height: 150px;}
    .back{
        font-size: 15px;
    }
}
@media(max-width: 1086px) and (min-width: 881px){
    .flip-container,
    .front,
    .back {
      width: 420px;
    height: 150px;}
    .back{
        font-size: 13px;
    }
}

@media(max-width: 880px) and (min-width: 769px){
    .flip-container,
    .front,
    .back {
      width: 360px;
    height: 165px;}
    .back{
        font-size: 13px;
    }
}
/* Contacts */

.contacts-text{   
    color: #fff;
}


/* Gallery */
@media(min-width:768px){
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }
    .pic{
        max-width: 300px;
        
        margin-right: 90px;
    }
}
@media(max-width: 768px){
    .gallery{
        display: grid;
        grid-template-columns: 1fr;
       
        
    }
    .pic{
        
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 80px;
    }


}
@media(max-width:320px){
    .flip-container,
    .front,
    .back {
      width: 290px;}
}