@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';


body{
    margin: 0;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 1.6;
    color: #FFF;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* Team-recruitment */
.team-recruitment__title{
    text-align: center;
}


/* Container */
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

}


/* Header */

.header{
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;


}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    margin-top: 3%;
    width: 15%;
    margin-left: 3%;
}

/* Menu */

.menu{
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 10px;

}
.menu__link{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 0 15px;
    margin-bottom: 5px;
    color:#FFF;
    transition: color .2s linear;
    position: relative;
    
}
.menu__link--partners{
    color:#e8a545;
}
.menu__link:hover{
    color:#FBAD1B;
    
}

.menu__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color:#FBAD1B;
    opacity: 0;
    position: absolute;
    top:100%;
    transition: opacity .1s linear;
    left: 0;
    z-index: 1;
}
.menu__link:hover::after{
    display: block;
    opacity: 1;
}




/* Intro */

.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    height: 100vh;
    background: url("/source/img/header.png") center no-repeat;
   -webkit-background-size: cover;
   padding: 0 10px;
}

.intro--projects{
    min-height: 1500px;
    background: url("/source/img/projects__page1.png") center no-repeat;
    -webkit-background-size: cover;
}
.intro--partners{
    background: url("/source/img/partners__page1.png") center no-repeat;
    -webkit-background-size: cover;
}
.intro--contacts{
    background: url("/source/img/contacts__page1.png") center no-repeat;
    -webkit-background-size: cover;
}


.intro__inner{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;

}
.intro__title{
    margin-top: 8%;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;

}

.intro__text{
    font-size: 30px;
}

.project--description{
    font-size: 18px;
}
.project--description--white{
    color:#FFF;
      font-size: 18px;
}
/* Page */
.page{

    color:#333;

}

@media(min-width:800px){
    .page{
        width: 100%;
        display: flex;
        min-height: 900px;
        height: 100vh;
        background: url("/source/img/page2.png") center no-repeat;
    -webkit-background-size: cover;
    padding:0 10px;
    }
    .page--projects{
        background: url("/source/img/projects__page2.png") center no-repeat;
        -webkit-background-size: cover;

    
    }
    .intro--projects{
        min-height: 900px;
    }
}

@media(max-width:800px){
    .page{
        width: 100%;
        display: flex;
        min-height: 1000px;
        background: url("/source/img/page2.png") center no-repeat;
        -webkit-background-size: cover;
        padding:0 10px;
    }
    .page--projects{
        background: url("/source/img/projects__page2.png") center no-repeat;
        -webkit-background-size: cover;
        min-height: 1000px;
    
    }
}
.page__inner{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 5%;

}
.page__title{
    margin-top: 2%;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
    color: #4d5a9a;
}

.page__text{
    font-size: 30px;
}
@media(min-width:800px){
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        
    }
    /* Member */
    .member{
        flex-basis: 23%;
        border-radius: 50%;
        min-height: 100px;
        padding:0 10px;
        
        text-align: center;
    }
}
@media(max-width:800px){
    .row{
        margin-top: 5%;
        justify-content: space-around;
        
    }
    /* Member */
    .member{
        width:80%;
        
        min-height: 100px;
        margin: 0 auto;
        margin-top: 8%;
        padding:0 10px;
        border-radius: 5px;
        text-align: center;
    }
}
.member__image{
    width: 80%;
    border-radius: 50000px;
    
}
.member__text{
    overflow: hidden;
    
}


/* Footer */
.footer{
    margin-top: auto;
    background-color: #006FB8;
    min-height: 80px;
    padding: 10px;
    
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__link{
    
    text-decoration: none;
    color:#FFF;

}
.footer__link:hover{
    transition: color .2s linear;
    color:#FBAD1B;
    
}

.social-media__image{
    opacity: 0.7;
}

/* Gallery */
@media(min-width:800px){
    .gallery-row{
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
    }

    .gallery__image{
        max-width: 500px;
        border-radius: 5px;
    }

}
@media(max-width:800px){
    .gallery-row{
        
        padding-top: 10%;
        padding-left: 15%;
    }

    .gallery__image{
        margin-top: 3%;
        margin-right: 5%;
        max-width: 80%;
    }

}